{% for block in section.blocks %}
<p style="color:{{ block.settings.font-color }}">{{ block.settings.custom-text }}</p>
{% endfor %}
{% schema %}

	{
	"blocks": [{
		"type": "text",
		"name": "text",
		"settings": [{
				"type": "text",
				"id": "custom-text",
				"default": "Default Text",
				"label": "Textfield "

			},
			{
				"type": "color",
				"id": "font-color",
				"default": "#000000",
				"label": "Font Color"
			},
			{
				"type": "range",
				"id": "font-size",
				"min": 12,
				"max": 20,
				"step": 1,
				"unit": "px",
				"default": 14,
				"label": "Font Size"
			}
		]
	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
