{% for block in section.blocks %}
<p style="color:{{ bloack.settings.font-color }}">{{ block.settings.custom-text }}</p>
{% endfor %}
{% schema %}

	{
	"blocks": [{
		"type": "text",
		"name": "text",
		"settings": [{
				"type": "text",
				"id": "custom-text",
				"default": "Default Text",
				"label": "Textfield "

			},
			{
				"type": "color",
				"id": "font-color",
				"default": "#000000",
				"label": "Font Color"
			}
		]
	}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
